@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
    url('../fonts/lato-v23-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
    url('../fonts/lato-v23-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
    url('../fonts/lato-v23-latin-900.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Lato;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

/*Wrap & Global styles*/
.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-full {
    max-width: 1260px;
    margin: 0 auto;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s all;
}

.section-title:hover::after {
    width: 350px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 10;
}

.header_active {
    background: #0E1D28;
    opacity: 0.8;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px; 
}

.header__item:last-child {
    margin-right: 0; 
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s all;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}

/* Intro */
.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.intro__subtitle {
    max-width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    width: 297px;
    background: transparent url(../img/svg/search-dec.svg) no-repeat left 7px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__field::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    background: #1B7DFF;
    border: 0;
    transition: 0.2s all;
}

.search-form__submit:hover, .header__link:focus, .header__link:active {
    background: #0e66da;
}

/*Benefits*/
.benefits {
    margin-bottom: 131px;
}

.benefits__wrap {
    max-width: 1262px;
    background: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background: #FFFFFF;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits__card {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits__card-thumb {
    display: block;
}

.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits__card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center;
    transition: 0.2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus {
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

/*Places*/
.places {
    margin-bottom: 131px;
}

.places__caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places-tittle {
    margin-right: 15px;
}

.caption__view-all {
    font-size: 16px;
    color: #006DFE;
    padding-right: 59px;
    text-decoration: none;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center;
    transition: 0.2s all;
}

.caption__view-all:hover, .caption__view-all:focus {
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.place__card {
    position: relative;
}

.place__card:hover .place__card-pic {
    transform: scale(1.1);
}

.place__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.5s all;
}

.place__card:hover::after {
    transform: scale(1.1);
}

.place__card-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.place__card_size_lg {
    grid-column: span 3;
}

.place__card_size_sm {
    grid-column: span 2;
}

.place__card-pic {
    width: 100%;
    transition: 0.5s all;
}

.place__card-pic_size_lg {
    height: 354px;
    object-fit: cover;
}

.place__card-pic_size_sm {
    height: 283px;
    object-fit: cover;
}

.place__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*Tours*/
.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour__info {
    padding-left: 47px;
}

.tour__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour__desc {
    width: 519px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour__more {
    font-size: 16px;
    color: #006DFE;
    padding-right: 59px;
    text-decoration: none;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center;
    transition: 0.2s all;
}

.tour__more:hover, .tour__more:focus {
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

/*Top places*/
.top {
    margin-bottom: 86px;
}

.top__title {
    margin-bottom: 54px;
}

.top__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.top__card {
    display: flex;
    flex-direction: column;
}

.top__card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top__card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 20px;
}

.top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
}

.top__card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background: url(../img/svg/heart-ico.svg) no-repeat right;
    margin-right: 14px;
}

.top__card-likes:hover, .top__card-likes:focus, .top__card-likes:active {
    background: url(../img/svg/heart-ico-red.svg) no-repeat right;
    cursor: pointer;
}

.top__card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background: url(../img/svg/comm-ico.svg) no-repeat right;
}

.top__card-comments:hover, .top__card-comments:focus, .top__card-comments:active {
    background: url(../img/svg/comm-ico-blue.svg) no-repeat right;
    cursor: pointer;
}

.top__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.top__card-more {
    width: 118px;
    padding: 12px 19px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: #1B7DFF;
    text-decoration: none;
    margin: auto 0 0 0;
    transition: 0.2s all;
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active {
    background: #0e66da;
}

/*Videos*/
.videos {
    width: 100%;
}

.videos__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video__item {
    padding-top: 56.25%;
}

.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Footer*/
.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    width: 50%;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer__menu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .2s all;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
    opacity: .7;
}
