@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/source-serif-pro-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/source-serif-pro-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/source-serif-pro-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/source-serif-pro-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/source-serif-pro-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/source-serif-pro-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('../fonts/source-serif-pro-v15-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/source-serif-pro-v15-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: local(''), url('../fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html {
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #1A0A03;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper__preview__fill {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    height: 650px;
}

.preview {
    max-width: 1188px;
    height: 650px;
    background: linear-gradient(90deg, rgb(93%, 33%, 8%, 0.1) 1.14%, rgba(238, 85, 20, 0) 133.88%);
    position: relative;
}

.preview::before {
    display: block;
    content: '';
    width: 20%;
    height: 650px;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(-78deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%);
}

.header__wrpper {
    max-width: 1140px;
    margin-left: 230px;
    position: absolute;
    top: 0;
}

.menu__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 32px;
}

a.header__logo-link img {
    
}

.header__nav {
    margin-left: 101px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1A0A03;
    text-decoration: none;
}

.header__item a:hover, .header__item a:active, .header__item a:focus  {
    color: #EE5514;
}

.menu__header button {
    background-color: #EE5514;
    border: none;
    width: 137px;
    height: 59px;
    margin-left: 477px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.header__content {
    display: flex;
    margin-bottom: 42px;
}

.header__content__discription h1 {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    margin-top: 74px;
    margin-bottom: 20px;
}

.header__content__discription h1 span {
    color: #EE5514;
}

.header__content__discription p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}

.header__content__img {
    margin-left: 149px;
    height: 400px;
}

.header__shop {
    width: 792px;
    height: 125px;
    background-color: #ffffff;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    border-radius: 5px;
}

ul.shop__list {
    display: flex;
    padding: 30px 0 0 55px;
}

ul.shop__list li {
    
}

ul.shop__list li:last-child {
    margin-right: 0;
}

ul.shop__list li div.line {
    width: 0;
    height: 42px;
    border: 1px solid #EE5514;
    margin: 0 35px 0 45px;
}

li.shop__item p.shop__name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}

p.shop__content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
}

.shop__selection {
    display: flex;
}

.shop__selection img {
    margin-left: 10px;
}

li.shop__item::before {
    height: 42px;
    content: '';
}